div.totals{
 position: absolute;
 right: 10px;
 top: 10px;
}

.logView{
    position: absolute;
    left: 10px;
    top: 310px;
    background-color: lightgray;
    padding: 4px;
}

.logList{
    background-color: lightgray;
    width: 800px;
    padding: 4px;
}

.nodeStatus{
    background-color: lightgray;
    width:1024px;
    padding: 4px;
}

#isBusy{
  background-color: red;
  color: yellow;
}

#isNotBusy{
  background-color: green;
  color: yellow;
}
