<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["page_title"]) }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url("bootstrap.min.css")}}" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ static_url("theme.css") }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["page_title"]) }}">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ static_url("js/jquery-3.3.1.min.js")}}" crossorigin="anonymous"></script>
    <script src="{{ static_url("js/popper.min.js")}}" crossorigin="anonymous"></script>
    <script src="{{ static_url("js/bootstrap.min.js")}}" crossorigin="anonymous"></script>

      <div id="header">
        <div style="float:right">
        </div>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
