
<div class="container mb-2 mt-2">
  <div class="row justify-content-center">
		<h1><i><b>Trix Testing Framework</i></b></h1>
	</div>
</div>

<div class="container mt-2 mb-2">
  <div class="row justify-content-center">
		<form class="testNode row" id="flashForm" action="/" method="post" enctype="multipart/form-data">
			<select class="form-control col-3" name="node" id="node">
				{% for item in items %}
					<option> {{ str(item[0]) }} </option>
				{% end %}
				<option>ALL</option>
			</select>
			<select class="form-control col-3" name="test" id="test">
				{% for test in tests %}
					{% if "test" in {test} %}
						<option selected>
					{% else %}
						<option>
					{% end %}
					{{ test }}
					</option>
				{% end %}
			</select>
		  <div class="custom-file col-4"">
		    <input type="file" class="custom-file-input" name="fileToUpload" id="fileToUpload">
		    <label class="custom-file-label" for="fileToUpload">Choose file</label>
		  </div>
			<script type="application/javascript">
			    $('input[type="file"]').change(function(e){
			        var fileName = e.target.files[0].name;
			        $('.custom-file-label').html(fileName);
			    });
			</script>

			<a class="btn btn-secondary" href="#" onclick="document.getElementById('flashForm').submit()">Flash</a>

		</form>
	</div>
</div>

<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>
