{% extends "base.html" %}

{% block body %}

<div class="row justify-content-center mt-4">
	<table border="0" class="table-striped">
		<tr class="bg-secondary text-white">
	<div >
		<th>
			<div class=element style="width:10px">

			</div>
		</th>
		<th class="pl-2">
			<div style="width:150px">
				Date
			</div>
		</th>
		<th class="pl-4">
			<div>
				Test Node
			</div>
		</th>
		<th class="pl-4">
			<div>
				Test File
			</div>
		</th>
		<th class="pl-4">
			<div>
				Firmware
			</div>
		</th>
		<th  class="pl-4">
			<div>
				Time
			</div>
		</th>
		<th class="pl-4">
			<div>
				Delete
			</div>
		</th>
	</tr>
	</div>
	    {% for item in reversed(logs) %}
			<div class=testNode>
				{% if item[1] == True %}
				<td class="bg-success">
				{% else %}
				<td class="bg-danger">
				{% end %}
				</td>
		 	<td class="pl-2">
				<div>
					<a class="btn btn-sm btn-secondary" href="historyLog?log={{ item[7] }}">
					{{ datetime.datetime.fromisoformat(item[0]).strftime('%Y-%m-%d %X') }}
					</a>
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[2]) }}
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[4]) }}
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[5]) }}
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(round(float(item[6]),2)) }}
				</div>
			</td>
		 	<td class="pl-4">
				<div>
					<a class="btn btn-danger btn-sm" href="historyDelete?log={{ item[7] }}">
					Remove
					</a>
				</div>
			</td>
		</tr>
			</div>
	    {% end %}
	</table>
</div>

{% end %}
