{% extends "base.html" %}

{% block body %}

<div class="row justify-content-center mt-4">
	<table border="0" class="table-striped">
		<tr class="bg-secondary text-white">
	<div class=testHistory>
		<th>
			<div class=element style="width:10px">

			</div>
		</th>
		<th class="pl-2">
			<div style="width:150px">
				Date
			</div>
		</th>
		<th class="pl-4">
			<div style="width:100px">
				Hardware
			</div>
		</th>
		<th class="pl-4">
			<div>
				Test Node
			</div>
		</th>
		<th class="pl-4">
			<div>
				Test File
			</div>
		</th>
	</tr>
	</div>
	    {% for item in reversed(logs) %}
			<div class=testNode>
				{% if str(item[1]) == "TEST_SUCCESS" %}
				<td class="bg-success">
				{% else %}
				<td class="bg-danger">
				{% end %}
				</td>
		 	<td class="pl-2">
				<div>
					<a class="btn btn-sm btn-secondary" href="historyLogs?log={{ log }}&log2={{item[7]}}">
					{{ item[0] }}
					</a>
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[2]) }}
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[3]) }}
				</div>
			</td>
			<td class="pl-4">
				<div>
					{{ str(item[4]) }}
				</div>
			</td>
		</tr>
			</div>
	    {% end %}
	</table>
</div>

{% end %}
