{% extends "base.html" %}

{% block body %}

<div class="container mb-2 mt-2">
  <div class="row justify-content-center">
		<h1><i><b>Trix Testing Framework</i></b></h1>
	</div>
</div>

<div class="d-flex flex-row-reverse">
	<a class="btn btn-danger mr-4 ml-4" href="/">Back</a>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
	 Compare
	</button>
</div>

<div class="modal fade " id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="history">
				test
      </div>
    </div>
  </div>
</div>

<script>
	console.log("i am running1")

	$('#exampleModalScrollable').on('show.bs.modal', function (event) {
		console.log("i am running2")
		$('#history').load('/historyCompare?log={{id}}');
	})

</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="powerGraph" class="ml-4 mr-4 h-25">
</div>

<script>

	var trace1 = { x: [
		{% for item in power %}
			{{str(item[0])}},
		{% end %}
	],y: [
		{% for item in power %}
			{{str(item[1])}},
		{% end %}
	],
	type: 'scatter',
	};
	var layout = {
	height: "150",
	line: {color: 'rgb(219, 64, 82)',width: 3,},
	margin: { l: 20, r: 20, b: 20, t: 20, pad: 4 },
	//paper_bgcolor: '#7f7f7f',
	//plot_bgcolor: '#c7c7c7'
	};
	var data = [trace1];
	Plotly.newPlot('powerGraph', data, layout);
</script>
<div class="ml-4 mr-4 mt-4">
	<table class="table-striped">
		<tr>
			<th>
					Date
			</th>
			<th>
					Hardware
			</th>
		</tr>
		<td>
				{{ info[0] }}
		</td>
		<td>
				{{ str(info[1]) }}
		</td>
		<tr>
			<th>
					Node
			</th>
			<th>
					runTime
			</th>
		</tr>
    <tr>
				<td>
						{{ str(info[2]) }}
				</td>
				<td>
						{{ str(info[3]) }}
				</td>
		</tr>
		<tr>
			<th>
					Test log
			</th>
			<th>
					Debug log
			</th>
		</tr>
		<tr>
			<td valign="top">
				{% for item in trace %}
					{{str(item[0])}} {{str(item[1])}} <br>
				{% end %}
			</td>
			<td valign="top">
				{% for item in debug %}
					{{str(item[0])}} {{str(item[1])}}<br>
				{% end %}
			</td>
		</tr>
	</table>
</div>

{% end %}
