{% extends "base.html" %}

{% block body %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container mb-2 mt-2">
  <div class="row justify-content-center">
		<h1><i><b>Trix Testing Framework</i></b></h1>
	</div>
</div>

<div class="d-flex flex-row-reverse">
	<a class="btn btn-danger mr-4 ml-4" href="/">Back</a>
</div>

<div id="powerGraph" class="ml-4 mr-4">
</div>
<script>

	var trace1 = { x: [
		{% for item in power %}
			{{str(item[0])}},
		{% end %}
	],y: [
		{% for item in power %}
			{{str(item[1])}},
		{% end %}
	],
	type: 'scatter',
	};
	var trace2 = { x: [
		{% for item in power2 %}
			{{str(item[0])}},
		{% end %}
	],y: [
		{% for item in power2 %}
			{{str(item[1])}},
		{% end %}
	],
	type: 'scatter',
	};
	var layout = {
	height: "150",
	line: {color: 'rgb(219, 64, 82)',width: 3,},
	margin: { l: 20, r: 20, b: 20, t: 20, pad: 4 },
	//paper_bgcolor: '#7f7f7f',
	//plot_bgcolor: '#c7c7c7'
	};

function add(a, b) {
    return a + b;
}
document.write("<div class=\"ml-4 mr-4\">");
var t1 = trace1.y;
var sum = t1.reduce(add, 0);
//document.write("trace0 sum: "+sum+" len: "+t1.length);
document.write("Trace1 avg: "+(sum/t1.length).toFixed(2)+"mA batterylife: "+(180.0/(sum/t1.length)).toFixed(2)+"h (180mAh battery)<br>");

var t2 = trace2.y;
var sum = t2.reduce(add, 0);
//document.write("trace1 sum: "+sum+" len: "+t2.length);
document.write("Trace2 avg: "+(sum/t2.length).toFixed(2)+"mA batterylife: "+(180.0/(sum/t2.length)).toFixed(2)+"h (180mAh battery)<br>");
document.write("</div>");
	var data = [trace1,trace2];
	Plotly.newPlot('powerGraph', data, layout);
</script>
<div class="ml-4 mr-4 mt-4">
	<table border="0" class="table-striped">

	<tr>
		<th bgcolor="">
				Hardware
		</th>
		<th bgcolor="">
				Hardware
		</th>
	</tr>
	<tr>
		<td bgcolor="">
			<div class="">
				{{ str(info[1]) }}
			</div>
		</td>
		<td bgcolor="">
			<div class="">
				{{ str(info2[1]) }}
			</div>
		</td>
	</tr>

	<tr>
		<th bgcolor="">
				Date
		</th>
		<th bgcolor="">
				Date
		</th>
	</tr>
	<tr>
		<td bgcolor="">
			<div class="">
				{{ info[0] }}
			</div>
		</td>
		<td bgcolor="">
			<div class="">
				{{ info2[0] }}
			</div>
		</td>
	</tr>

	<tr>
		<th bgcolor="">
				Node
		</th>
		<th bgcolor="">
				Node
		</th>
	</tr>
	<tr>
		<td bgcolor="">
				{{ str(info[2]) }}
		</td>
		<td bgcolor="">
				{{ str(info2[2]) }}
		</td>
	</tr>

	<tr>
		<th bgcolor="">
				Runtime
		</th>
		<th bgcolor="">
				Runtime
		</th>
	</tr>
	<tr>
		<td bgcolor="">
				{{ str(info[3]) }}
		</td>
		<td bgcolor="">
				{{ str(info2[3]) }}
		</td>
	</tr>

	<tr>
		<th bgcolor="">
				Test Trace
		</th>
		<th bgcolor="">
				Test Trace
		</th>
	</tr>
	<tr>
		<td bgcolor="" valign="top">
			{% for item in trace %}
				{{str(item[0])}} {{str(item[1])}} <br>
			{% end %}
		</td>
		<td bgcolor="" valign="top">
			{% for item in trace2 %}
				{{str(item[0])}} {{str(item[1])}} <br>
			{% end %}
		</td>
	</tr>

	<tr>
		<th bgcolor="">
				Debug Trace
		</th>
		<th bgcolor="">
				Debug Trace
		</th>
	</tr>
	<tr>
		<td bgcolor="" valign="top">
			{% for item in debug %}
				{{str(item[0])}} {{str(item[1])}} <br>
			{% end %}
		</td>
		<td bgcolor="" valign="top">
			{% for item in debug2 %}
				{{str(item[0])}} {{str(item[1])}} <br>
			{% end %}
		</td>
	</tr>

	</table>
</div>
{% end %}
