{% extends "base.html" %}

{% block body %}

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
var timeout = setInterval(reloadNodes, 10000);
setInterval(reloadHistory, 30000);
function reloadNodes () {
     $('#nodes').load('/nodes');
}
function reloadHistory () {
     $('#history').load('/history');
}
function startLoad(){
     $('#nodes').load('/nodes');
     $('#form').load('/form');
     $('#history').load('/history');
}
</script>
<body onload="startLoad()">
<div id=placement>
	<div id=form>
	</div><br\>
	<div id=nodes>
	</div><br\>
	<div id=history>
	</div><br\>
</div>
{% end %}
