<div class="row justify-content-center mt-4">
	<table class="table-striped col-6">
		<tr class="bg-secondary text-white">
			<th>
					Name
			</th>
			<th>
					Hardware
			</th>
			<th>
					State
			</th>
			<th>
					Queue
			</th>
		</tr>
	    {% for item in items %}
	    <tr >
		    	<td>
						<div>
							{{ str(item[0]) }}
						</div>
					</td>
					<td>
						<div>
							{{ str(item[1]) }}
						</div>
					</td>
					{% if item[2] == 1 %}
					<td class="bg-danger text-center">
							Busy
					</td>
					<td>
				    	{% for todo in item[3] %}
							<div>
				    		{{ str(todo) }}
							</div>
							{% end %}
					</td>
				{% else %}
				<td class="bg-success text-center">
						Idle
				</td>
				<td>
				</td>
				{% end %}
		  </tr>
			{% end %}
	</table>
</div>
